body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import 'google_map_container.scss';

// @import 'wrapper.scss';
// @import 'search.scss';
// @import 'videos.scss';
// @import 'player.scss';
//
// @import url(//fonts.googleapis.com/css?family=Concert+One);
