
.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background: linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  &.IE {
    background: rgb(69,72,77);
  }

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .title {
    font-family: 'Concert One';
    font-size: 17px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
  }
  .search-input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Calibri;
    font-size: 12px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    .search-label {
      margin-right: 5px;
    }
    .input-container {
      font-family: Calibri;
      font-size: 12px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      input {
        font-family: Calibri;
        font-weight: bold;
        font-size: 12px;
        color: rgb(255, 255, 255);
        height: 26px;
        width: 150px;
        padding-left: 5px;
        margin-right: 10px;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        border: none;
      }
      .search-button {
        width: 80px;
        height: 28px;
        margin-right: 20px;
        outline: none;
        border: none;
        border-radius: 5px;
        font-family: Calibri;
        font-weight: bold;
        font-size: 12px;
        color: rgb(255, 255, 255);
        background: linear-gradient(bottom, rgba(92,119,181,1) 0%,rgba(116,143,206,1) 100%);
        cursor: pointer;
        &.IE {
          background: rgb(111,138,201);
        }
      }
    }
  }
}
