.videos-container {
  width: calc(100% - 60px);
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px 0px 20px;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  color: white; }
  .videos-container .video-item-container {
    width: 33.33%;
    min-width: 200px;
    height: 167px; }
    .videos-container .video-item-container .video-item {
      position: relative;
      height: inherit;
      cursor: pointer; }
      .videos-container .video-item-container .video-item .img-container {
        width: 100%; }
        .videos-container .video-item-container .video-item .img-container img {
          width: 100%;
          height: 140px;
          object-fit: cover; }
      .videos-container .video-item-container .video-item .video-title-container {
        width: 100%;
        height: 25px;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        align-items: center; }
        .videos-container .video-item-container .video-item .video-title-container .video-title {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding: 0px 10px 0px 10px; }
      .videos-container .video-item-container .video-item .published-date-container {
        position: absolute;
        width: 100%;
        height: 25px;
        bottom: 2px;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: center; }
        .videos-container .video-item-container .video-item .published-date-container .published-date {
          padding: 0px 0px 0px 10px; }
  .videos-container .video-item-container:first-child {
    margin-right: 10px; }
  .videos-container .video-item-container:last-child {
    margin-left: 10px; }
