
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../images/bg_main.png') no-repeat center / cover;

  .app {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 660px;
    max-height: 245px;

    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: rgba(255,255,255,0.9);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      width: inherit;
      height: 205px;

      .previous, .next {
        position: absolute;
        z-index: 1;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
      }
      .previous {
        left: 10px;
        background: url('../images/prev.png') no-repeat center / cover;
      }
      .next {
        right: 10px;
        background: url('../images/next.png') no-repeat center / cover;
      }
      &.keep-search {
        height: 205px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  /* Here will be located styles for small screen devices */
  .wrapper {
    background: red;
  }
}
